.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  .emphasis {
    text-decoration: underline;
    color: $red;
  }

  .dynamicImg {
    @include dynamicImg;
    max-width: 600px;
  }

  .retry {
    @include activeBtn;
    margin-top: 15px;
  }
}
