*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* a 링크 초기화 */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 버튼초기화 */
button {
  border: 0;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
}

/* Custom Style */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  color: #222222;
  background-color: $lightBackground;
}

input {
  font-family: inherit;

  &::placeholder {
    font-family: inherit;
  }
}

input[type="button"] {
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

button {
  overflow: visible;
  padding: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: inherit;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fcfcfd inset !important;
}

.mainCenterBox {
  flex: 1;
  width: 100%;
  max-width: 80rem;
  padding: 50px 0;
}

@include desktop {
  .mainCenterBox {
    margin: 0 auto;
  }
}

@include tablet {
  .mainCenterBox {
    padding: 50px $padding-tablet;
  }
}

@include mobile {
  .mainCenterBox {
    padding: 50px $padding-mobile;
  }
}
