*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* a 링크 초기화 */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 테이블 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;

  th {
    font-weight: inherit;
  }
}

/* 버튼초기화 */
button {
  border: 0;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
}

/* Custom Style */
:root {
  --color-primary-text: #222222;
  --color-primary-gray-text: #656567;
  --color-primary-reverse: #ffffff;
  --color-background: #f7f7f8;
  --color-deep-background: #e7e7e7;
  --color-header-background: #f7f7f8;
  --color-modal-background: #ffffff;
  --color-border: #cacad6;
  --color-scroller: #cacaca;
}

[data-theme="dark"] {
  --color-primary-text: #f5f4f4;
  --color-primary-gray-text: #b1b1b1;
  --color-primary-reverse: #222222;
  --color-background: #1d202a;
  --color-deep-background: #090e1b;
  --color-header-background: #1d202a;
  --color-modal-background: #292c33;
  --color-border: #6d6d6f;
  --color-scroller: #343c46;
}

@media (prefers-color-scheme: dark) {
  body {
    color: red !important;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  color: var(--color-primary-text);
  background-color: var(--color-background);
}

input {
  font-family: inherit;

  &::autofill &::placeholder {
    font-family: inherit;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #222222;
}

input[type="button"] {
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

/* 라운드진 체크박스 */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  user-select: none;
  flex-shrink: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #f1f1f3;
  background-color: #f7f7f8;
  background-color: var(--color-background);
  vertical-align: middle;
  --tw-shadow: 0 0 #0000;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  border: inherit;
  background-color: $primaryColor;
  background-image: url("/svgs/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-y: 60%;
}

button {
  overflow: visible;
  padding: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: inherit;
  cursor: pointer;
}

label {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fcfcfd inset !important;
}
.mainCenterBox {
  flex: 1;
  width: 100%;
  max-width: 80rem;
  padding: 50px 0;
}

@include desktop {
  .mainCenterBox {
    margin: 0 auto;
  }
}

@include tablet {
  .mainCenterBox {
    padding: 50px $padding-tablet;
  }
}

@include mobile {
  .mainCenterBox {
    padding: 50px $padding-mobile;
  }
}
