.form {
  display: grid;
  grid-template-rows: auto-fill 1fr;
  row-gap: 15px;
  width: 100%;

  .profile {
    position: relative;
    margin-bottom: 15px;
    justify-self: center;

    .profileImg {
      border-radius: 100px;
      box-shadow: 1px 1px 2px $blueBorder;
      cursor: pointer;
    }

    input[type="file"] {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }

    .edit {
      position: absolute;
      bottom: 8px;
      right: 5px;
      height: 25px;
      border-radius: 100px;
      box-shadow: 1px 1px 3px $darkBackground;
      cursor: pointer;
    }
  }

  .flexBox {
    display: flex;
    align-items: flex-end;
  }

  .codeBtn {
    margin-left: 5px;
    padding: 14px;
    border-radius: 6px;
    white-space: nowrap;
  }

  .verifyBtn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
  }

  .verifiedBtn {
    border: 0 !important;
    background-color: #47bd35;
    color: $white !important;
    cursor: default;
  }

  .activeBtn {
    border: 1px solid $primaryColor;
    color: $primaryColor;
  }

  .disabledBtn {
    border: 1px solid $grayText;
    color: $grayText;
    cursor: default;
  }

  .btnBox {
    display: flex;
    justify-content: right;

    .update {
      @include activeBtn;
    }

    .cancel {
      @include disabledBtn;
      margin-right: 8px;
    }
  }
}

.loading {
  @include loading(430px);
}
