.centerBox {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .headerItem {
    display: flex;
    align-items: center;

    .logoImg {
      height: 40px;
      margin-right: 30px;
    }

    .alramImgBox {
      margin-right: 30px;
      cursor: pointer;
    }

    .profileBox {
      cursor: pointer;

      & > img {
        border-radius: 100px;
      }
    }

    .menuItemBox {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      border-radius: 8px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    .loginBtn {
      background-color: $primaryColor;
      color: $white;
    }
  }
}

.alramModalBox {
  position: absolute;
  top: 75px;
  right: 0;
  width: 360px;
  border-radius: 8px;
  box-shadow: 1px 4px 4px rgba($color: #000000, $alpha: 0.4);
  font-size: 14px;

  .title {
    padding: 10px 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid $blueBorder;
    background-color: #e7e7e7;
  }

  .content {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $white;

    & a:not(:last-child) .item {
      border-bottom: 1px solid $blueBorder;
    }

    .item {
      display: grid;
      grid-template-columns: 36px 1fr auto;
      grid-template-rows: repeat(3, auto);
      row-gap: 5px;
      align-items: center;
      padding: 12px 16px;

      & > div:first-child {
        row-gap: 10px;
      }

      & img {
        display: block;
        border-radius: 100px;
        margin-right: 8px;
      }

      .oneline {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }
}

.profileModalBox {
  position: absolute;
  top: 75px;
  right: 0;
  padding: 15px 20px 0px 20px;
  border-radius: 8px;
  box-shadow: 1px 4px 4px rgba($color: #000000, $alpha: 0.4);
  background-color: $white;

  .topBox {
    margin-bottom: 15px;

    .title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .imgBox {
      margin-right: 25px;
      margin-bottom: 5px;

      & > img {
        border-radius: 100px;
      }
    }

    .infoBox {
      .nickname {
        margin-bottom: 15px;
      }

      .algorithmBox {
        display: flex;
        align-items: flex-end;
        font-size: 14px;

        .algorithmItem {
          &:not(:last-child)::after {
            content: "|";
            margin: 0 10px;
            font-size: 16px;
            color: $blueBorder;
          }

          .correct {
            color: $blueLight;
          }
          .wrong {
            color: $red;
          }
          .try {
            color: $grayText;
          }
        }
      }
    }
  }

  .btnBox {
    .btn {
      display: flex;
      align-items: center;
      height: 50px;
      border-top: 1px solid #f1f1f3;
      cursor: pointer;

      .img {
        margin-right: 15px;
      }
    }
  }
}

@include tablet {
  .centerBox {
    @include tablet-padding;
  }
}

@include mobile {
  .centerBox {
    @include mobile-padding;
  }
}
