.container {
  position: relative;
  display: grid;
  row-gap: 25px;
  grid-template-rows: auto;
  min-height: 495px;

  .item {
    .title {
      margin-bottom: 3px;
      font-size: 0.875rem;
      color: var(--color-primary-gray-text);
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@include mobile {
  .bottom {
    button {
      margin-left: 10px;
    }
  }
}
