.cardBox {
  display: grid;
  column-gap: 20px;
  row-gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(413.33px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 50px;

  .itemBox {
    padding: 25px;
    border-radius: 12px;
    background-color: $white;

    .id {
      text-align: right;
      font-size: 34px;
      margin-bottom: 35px;
    }

    .title {
      margin-bottom: 15px;
      font-size: 24px;
    }

    .tagSliderBox {
      margin-bottom: 15px;
    }

    .content {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-bottom: 35px;
    }

    .btnBox {
      display: flex;
      justify-content: flex-end;

      .moreBtn {
        display: block;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #f1f1f3;
        background-color: #fcfcfd;

        .moreImg {
          display: block;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cardBox {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .cardBox {
    grid-template-columns: 1fr;
  }
}
