.comment {
  display: flex;
  align-items: flex-start;

  .profileImg {
    margin: 5px 20px 0px 0px;
    border-radius: 100px;
  }

  .content {
    flex: 1;

    .user {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;

      .createdTime {
        margin-left: 5px;
        margin-right: 10px;
        font-size: 0.875rem;
        color: var(--color-primary-gray-text);
      }

      .red {
        color: $red;
      }

      .blue {
        color: $blueLight;
      }
    }
  }
}
