@import "./variables";

@mixin dynamicImg {
  width: 100%;
  height: auto;
}

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin mobile-padding {
  padding: 0 $padding-mobile;
}

@mixin tablet-padding {
  padding: 0 $padding-tablet;
}

@mixin btn {
  padding: 10px 35px;
  border-radius: 8px;
}

@mixin loading($height) {
  min-height: $height;
}

@mixin activeBtn {
  @include btn;
  border: 1px solid $primaryColor;
  color: $primaryColor;
  cursor: pointer;
}

@mixin disabledBtn {
  @include btn;
  border: 1px solid $grayText;
  color: $grayText;
  cursor: default;
}

@mixin warningBtn {
  @include btn;
  border: 1px solid $red;
  color: $red;
}

@mixin checkBox($checkBoxSize, $checkImgSize) {
  width: $checkBoxSize;
  height: $checkBoxSize;
  background-size: $checkImgSize;
}
