/* Color */
$primaryColor: #ff9500;
$textBlack: #222222;
$white: #ffffff;
$grayText: #656567;
$blueDark: #0047ff;
$blueLight: #477bff;
$red: #ff6969;
$puple: #ca99fc;
$bronze: #b26800;
$silver: #969696;
$gold: $primaryColor;
$platinum: #00cbb3;
$diamond: #0075ff;
$master: #b821ff;
$blueBorder: #cacad6;
$lightBackground: #f7f7f8;
$darkBackground: #1d202a;
$deepDark: #090e1b;

/* Width, Height */
$headerHeight: 84px;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

$padding-mobile: 10px;
$padding-tablet: 30px;
