.recommendWrapper {
  display: flex;

  .recommend {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--color-border);

    .count {
      position: relative;
      top: -1px;
    }

    .active {
      color: $primaryColor;
    }

    .btn {
      &:first-child {
        border-right: 1px solid var(--color-border);
      }

      &:last-child {
        border-left: 1px solid var(--color-border);
      }
    }
  }
}
